@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,100&subset=cyrillic,cyrillic-ext,latin-ext,latin);

html, body 
{
    padding: 0;
    margin: 0;
} 

body
{
    background-color: #141313;
}

section
{
    color: white;
}

h3
{
  font-weight: 100;
  text-align: center;
  position: static;
  color: rgb(233, 233, 233);

}

.topnav
{
    overflow: hidden;
    background-color: #242424;
    line-height: 0px;
    padding: 0px 10px;
}

.topnav li
{
    position: relative;
    top: -65px; left: 400px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    list-style-type: none;
}

.topnav a
{
    text-decoration: none;
}

.topnav a.active 
{
    background-color: #242424;
    color: #C2B8B8;
}

#img-logo
{
    width:200px;
    height:130px;
    position: relative;
    top: -0px; left: 5px;
    opacity: 100%
}

#img-best-movie
{
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  width:10%;
  border: 2px solid;
  border-color: white;
  

}

#title-best-movie
{
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

#img-element{
    
    position: absolute;
    width: 20%;
    bottom: 0px; left: -1px; top: -1px;
    border: 3px solid;
    border-color: white;

}

#title-element{
    position: absolute;
    color: white;
    top: 2%;left: 23%;
    font-size: 26px; 
    

}

#year-element{
    position: absolute;
    color: white;
    top: 10%;left: 23%;
    font-size: 20px; 
}

#actors-element{
    position: absolute;
    color: white;
    top: 18%;left: 23%;
    font-size: 20px; 
    color: #a8a8a8;
}

#genres-element{

    position: absolute;
    color: white;
    top: 10%;left: 27%;
    font-size: 20px; 
    
}

#imdb_score-element{

    position: absolute;
    color: rgb(74, 255, 134);
    bottom: 2%;left: 23%;
    font-size: 26px; 
    
}

#votes-element{

    position: absolute;
    color: rgb(211, 211, 211);
    bottom: 2%;left: 27%;
    font-size: 20px; 
    font-style: italic;
    
}

.showSlide1 img, .showSlide2 img, .showSlide3 img, .showSlide4 img
{  
    width:100%;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    left: 23.5%;;
    margin-bottom: 2.7%;
    width:10%;
}   


.slidercontainer, .slidercontainer2
{  
    max-width: 1000px;  
    position: relative;  
    margin: auto;  
}  

.left, .right 
{  
    cursor: pointer;  
    position: absolute;  
    top: 50%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color: rgb(212, 212, 212);  
    font-weight: bold;  
    font-size: 18px;  
    transition: 0.6s ease;  
    border-radius: 0 3px 3px 0;  
}  

.right 
{  
    right: 0;  
    border-radius: 3px 0 0 px;  
}  

.left:hover, .right:hover 
{  
    background-color: rgba(41, 34, 34, 0.8);  
} 

.active 
{  
    background-color: #717171;  
}  

.fade 
{  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  

}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
} 

.popup {
    z-index:1;
    background-color: rgb(65, 65, 65);
    position: fixed;
    padding: 30px;
    width: 50%;
    height: 26%;
    opacity: 1;
    transition: all 0.3s ease;
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid;
    border-color: white;
}

.close {
    position: absolute;
    top: 0;
    right: 2%;
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    z-index:1;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#frame{
    margin-top: 2%;
    background-color:rgb(31, 31, 31);
    width:100%;
    border: 2px solid;
    border-color: white;
}

#all-img{

    
}

#mv{
    width:100%;
}